extends layout

block content
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
	script(src='/javascripts/address.js')

	#wrapper
		
	// Funding Addresses
	h3 Funding Addresses
	#addresses
		table
			thead
				th Address
				th Balance
			tbody
	// Funding Addresses	
	p
	h3 Multisig Addresses
	//Multisig Addresses
	#multisigaddresses
		table
			thead
				th Address
				th Balance
			tbody
	//Multisig Addresses 
	p
	h3 Multisig Address Detail
	//Multisig Address Detail	
	#multisigaddressdetail
		table
			thead
				th Address				
			tbody
	//MultisigAddressDetail

